vendor
node_modules
.env
.env.*
storage/*.key
storage/*.cache
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/hot
public/storage
tests
.vscode
.idea
docker-compose.override.yml
docker-compose.*.yml
.git
